@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.golden-container {
  width: 100%;
  padding-bottom: 61.8%; /* Ratio d'or */
  position: relative;
}

.golden-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.page-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.service-card {
  --mouse-x: 0;
  --mouse-y: 0;
}

.service-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(102, 252, 241, 0.1),
    transparent 40%
  );
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.service-card:hover::before {
  opacity: 1;
}

.header-rounded {
  border-bottom-left-radius: 1.618rem;
  border-bottom-right-radius: 1.618rem;
}